<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{code}} {{codeText}}</title>
    <meta
      name="description"
      content="We're an idealistic bunch of security researchers, networking/forensics geeks, and Capture The Flag winners that are passionate about making the world more secure."
    />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <style>
      html,
      body {
        background: #242424;
        min-height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
      }
      @font-face {
        font-family: 'Source Serif Pro';
        font-weight: 400;
        font-display: swap;
        font-style: normal;
        font-stretch: normal;
        src: url('SourceSerifPro-Regular.ttf.woff2') format('woff2');
      }
      @font-face {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-display: swap;
        font-style: normal;
        font-stretch: normal;
        src: url('SourceSansPro-Regular.ttf.woff2') format('woff2');
      }
      body {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      h1 {
        font-family: 'Source Serif Pro';
        font-weight: 500;
        font-size: 72px;
        line-height: 1.2;
        margin: 0;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .text-orange {
        color: #db6a26;
      }
      .text-gray {
        color: #949494;
      }
      main {
        margin-top: 40px;
        max-width: 80%;
      }
      #logo {
        width: 100%;
      }
      footer {
        background: #1e1e1e;
        width: calc(100% - 100px);
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        padding: 20px 50px;
        font-weight: 600;
        margin-top: 40px;
      }
      .footer-links {
        font-size: 1rem;
      }
      .mr-8 {
        margin-right: 8px;
      }
      .mr-24 {
        margin-right: 24px;
      }
      .icon {
        display: inline-block;
        height: 18px;
        width: 18px;
      }
      #content {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      #content > * {
        width: 100%;
      }
      #text {
        text-align: left;
      }
      @media only screen and (min-width: 720px) {
        footer {
          justify-content: space-between;
          flex-direction: row;
        }
      }
      @media only screen and (min-width: 1130px) {
        #content {
          flex-direction: row;
          gap: 36px;
        }
        #content > * {
          width: 50%;
        }
      }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#db6a26" />
    <meta name="theme-color" content="#db6a26" />
    <meta property="og:url" content="https://radicallyopensecurity.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="404 not found" />
    <meta
      property="og:description"
      content="We're an idealistic bunch of security researchers, networking/forensics geeks, and Capture The Flag winners that are passionate about making the world more secure."
    />
    <meta
      property="og:image"
      content="https://www.radicallyopensecurity.com/assets/images/ros-og-image.png"
    />
    <meta
      name="twitter:card"
      content="https://www.radicallyopensecurity.com/assets/images/ros-twitter-card.png"
    />
    <meta property="twitter:domain" content="radicallyopensecurity.com" />
    <meta property="twitter:url" content="https://radicallyopensecurity.com" />
    <meta name="twitter:title" content="404 not found" />
    <meta
      name="twitter:description"
      content="We're an idealistic bunch of security researchers, networking/forensics geeks, and Capture The Flag winners that are passionate about making the world more secure."
    />
    <meta
      name="twitter:image"
      content="https://www.radicallyopensecurity.com/assets/images/ros-twitter-summary.png"
    />
  </head>
  <body>
    <main>
      <img src="logo.png" id="logo" alt="Radically Open Security Logo" />
      <div id="content">
        <div id="text">
          <h1 class="text-orange">{{code}} {{capitalCase codeText}}</h1>
          <p>{{text}}</p>
          <p>You can still contact us.</p>
          <p class="text-orange">
            <a href="mailto:support@radicallyopensecurity.com"
              >support@radicallyopensecurity.com</a
            ><br />
            <a href="tel:+31020 2621255">+31 (0) 20 2621255</a>
          </p>
          <p>
            <a class="text-orange" href="javascript:window.history.back();"
              >Go back</a
            ><br />
            <a class="text-orange" href="https://www.radicallyopensecurity.com/"
              >Go to the homepage</a
            >
          </p>
        </div>
        <img class="cat" src="{{code}}.png" alt="Image of a cat" />
      </div>
    </main>
    <footer class="text-gray">
      <div>
        <a
          class="mr-24 footer-links"
          href="mailto:support@radicallyopensecurity.com"
          >support@radicallyopensecurity.com</a
        >
        <a
          class="mr-8 icon"
          href="https://www.linkedin.com/company/radically-open-security/"
        >
          <img src="linkedin.svg" />
        </a>
        <a class="icon" href="https://twitter.com/ROSecurity">
          <img src="twitter.svg" />
        </a>
      </div>
      <div class="footer-links">
        <a
          class="mr-24"
          href="https://github.com/radicallyopensecurity/ros-website/blob/main/ROS_Privacy_Policy__-_V1.0_-_2022.pdf"
        >
          Privacy Policy </a
        ><a
          href="https://github.com/radicallyopensecurity/ros-website/blob/main/ROS%20general%20terms%20and%20conditions.pdf"
          >T&C's</a
        >
      </div>
    </footer>
  </body>
</html>
